@charset "utf-8";
.top{width:100%;height:134px;
  .top1{height:92px;width:100%;background:#333333;color:#fff;}
  .top2{height:42px;background:#f7f7f7;color:#000;line-height:42px;font-size:14px;}
  .nav>a{float:left; height:100%;width:70px;text-align: center;color:#000;text-decoration: none;border:1px solid #f7f7f7;border-bottom:0;position:relative;
    span{width:68px;height:3px;position:absolute;top:40px;left:0;background:#fff;z-index: 11;display:none}
  }
  .top2>.container{position:relative;}
  .top2 .nav{width:640px;margin:0 auto;}
  .nav>a:hover{border:1px solid #999;border-bottom:0;background:#fff;}
  .navBox{width:747px;min-height:300px;border:1px solid #999;padding:15px;position:absolute;top:42px;z-index: 10;display: none;background:#fff;a{padding:0 5px;text-decoration: none;color:#666;}}
  h5{font-size:12px;line-height:20px;margin:0;padding:0;font-weight:600}
  .navBox a:hover{color:#f00;}
  .navleft{float:left;width:453px;min-height:300px;line-height:20px;font-size:12px;
    div{border-bottom:1px dashed #ccc;padding:10px 0 4px 0;}
    div:last-child{border:0}

  }
  .navright{float:right;width:232px;min-height:300px;line-height:20px;font-size:12px;
    a{float:left;width:115px;}
  }

  .col-lg-1{line-height:44px; text-decoration: none;color:#fff;}
  .col-lg-1:hover{color:#f00}
}
.topRow{height:48px;font-size:12px;
  .headerLeft{float:left;line-height:44px;}
  .loginRegister{float:left;
    a{text-decoration: none;margin:0 1px;color:#fff;}
  }
  /*购物袋样式处理*/
  .gouwudai{float:left;padding-left: 25px;background:url("../images/header/spriter2016.png")no-repeat -215px -35px;padding-right:10px;position:relative;
    margin-left:10px;
    span{color:#f00;}
    .daizi{width:300px;background:#fff;position:absolute;top:42px;left:0px;color:#333;z-index: 10;padding:10px;display:none;}
  }
  .gouwudai:hover{background: #fff url("../images/header/spriter2016.png")no-repeat -215px -70px;color:#333;}

  /*这里是我的走秀的样式处理*/
  .myShow{float:left;padding:0 15px; position: relative;border:1px solid #333;background:url("../images/header/spriter2016.png") no-repeat -161px -105px;width:80px;
  border-bottom:0; a{text-decoration: none;color:#fff;}
    .myShowNav{position:absolute;top:40px;left:-1px;width:80px;border:1px solid #999;display:none;z-index: 9;
    border-top:0;background:#fff;line-height:30px;a{display:block;color:#333;text-align: center}a:hover{color:#f00;} }
  }
  .myShow:hover{background:#fff url("../images/header/spriter2016.png") no-repeat -161px -140px;border:1px solid #999;border-bottom:0;
  .myshownavtop{color:#f00;}}

  h1{height:33px;width:218px;float:left;background:url("../images/header/spriter2016.png") no-repeat;margin:0 auto;margin-top:8px;margin-left:18%;}


  .formBox{float:right;margin-top:10px;
    form{border:1px solid #787878;width:262px;height:26px;
      input{border:0;float:left;height:100%;outline: none;background:#333;width:230px;color:#787878;font-size:12px;}
      input:nth-of-type(1){padding:0 5px}
      input:nth-of-type(2){width:30px;background:url("../images/header/spriter2016.png") no-repeat -0px -44px;}
      input:nth-of-type(2):hover{background-position: -40px -44px;}
    }
  }
}
