@charset "utf-8";
.indexBanner{ width:1200px;height:610px;margin:0 auto ;margin-top:10px;margin-bottom:10px; }
.xinrenfenxiang{width:1170px;height:86px;margin:0 auto;padding:0 0 20px 30px;margin-top:10px;
  a{width:230px ;height:86px;float:left;background:url("../images/shortcut3a.jpg") no-repeat 0 0 ;margin-right:60px;position: relative;}
  a:nth-of-type(2){background-position: -240px 0 }
  a:nth-of-type(3){background-position: -720px 0 }
  a:nth-of-type(4){margin-right:0;background-position: -960px 0 }
}
.jianduanhaohuo{
  .goodGoods{width:1200px;margin:0 auto;
    a{float:left;width:400px;height:300px;position:relative;
      span{position:absolute;top:0;left:0;display:none;height:100%;width:100%;background:#fff;opacity:0.3;}
    }
    a:hover{span{display:block;}}
    img{width:400px;height:auto;float:left;}
  }
  .goodGoods>div{margin-bottom:30px;}
}
.jianduanhaohuo>img{margin:10px auto;}


.rejianzhuanti{width:1200px;margin:0 auto;margin-bottom:40px;
  h3 {padding:-0 0  20px 0; img{margin:0 auto;}}
  .rejian{
    a{float:left;position:relative;width:600px;height:300px;overflow:hidden;margin-bottom:20px;span{position:absolute;top:35%;left:20%}}
    a>img{transition: all 1s;}
    a:hover{.rejianimg{transform: scale(1.1)}}
  }
  p{a{display:block;margin:0 auto;width:158px;}margin-top:20px;}
}
.pic{width:1200px;margin:0 auto;margin-bottom:30px;}

.haohuo{width:1200px;margin:0 auto;
  h3{img{margin:0 auto;}margin-bottom:20px;}
}