<!DOCTYPE html>
<html lang="en" ng-app="reLogin">
<head>
    <meta charset="UTF-8">
    <title>登陆注册页面</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/commen.css">
    <script src="js/lib/angular.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.js"></script>


    <script src="js/app/login/module.js"></script>
    <script src="js/app/login/service.js"></script>
    <script src="js/app/login/component.js"></script>

    <script type="text/javascript" src="js/app/login.js"></script>


</head>
<body>
<div class="login-top">
    <h1><a href="index.html"><img src="images/login/pic_01.png" alt=""></a></h1>
</div>
<div class="login-main" ng-controller = "registerController">
    <div class="loginBox">
        <div class="phoneBox">
            <div class="loginBox-top">
                <p class="loginBox-p">短信登陆</p>
                <p>密码登陆</p>
            </div>
            <form>
                <div class="login" style="display:none;" >
                    <div class="loginName">
                        <span><strong></strong>手机号不存在</span>
                        <em>手机号码</em>
                        <input type="text" placeholder="手机号/邮箱/用户名" />
                    </div>
                    <div class="loginName">
                    <span><strong></strong>密码不正确</span>
                    <em>短信验证码</em>
                    <input type="password" placeholder="密码" ng-model="pwd"/>
                </div>
                    <div class="rememberPassword clear">
                        <span><i></i>两周内自动登陆</span>
                    <span>
                        <a href="#">找回密码</a>|<a href="login.html">注册账号</a>
                    </span>
                    </div>
                </div>
                <div class="sign">
                    <div class="loginName">
                        <span id="signNameError"><strong></strong>请输入有效的手机号！</span>
                        <em>手机号码</em>
                        <input type="text" id="signName" placeholder="手机号码" ng-model="uname"/>
                    </div>
                    <div class="loginName clear">
                        <span id="signPasswordError"><strong></strong>请输入合法的密码</span>
                        <em>短信验证码</em>
                        <input class="validateCode" id="signPassword" type="password" placeholder="短信验证码"  ng-model="pwd"/>
                        <button>获取验证码</button>
                    </div>
                    <div class="rememberPassword clear">
                        <span><i></i>两周内自动登陆</span>
                    <span>
                        <a href="#">找回密码</a>
                    </span>
                    </div>
                </div>

                <div class="loginIn"><button ng-click="registerLogin(uname,pwd)">登&nbsp;&nbsp;&nbsp;&nbsp;陆</button></div>
                <div class="otherLoginPort">
                    <p><span>合作网站账号登陆</span></p>
                    <p class="clear">
                        <a href="#"></a>
                        <a href="#"></a>
                        <a href="#"></a>
                        <a href="#"></a>
                        <a href="#"></a>
                    </p>
                </div>
            </form>
        </div>
        <div class="codeBox">
            <h4>手机扫码登陆</h4>
            <div class="erweiCode">
                <img src="images/login/erweima.png" alt="">
            </div>
            <p>打开<span>走秀APP</span>，扫一扫登录</p>
        </div>
        <div class="erweima">
            <span></span>
        </div>
    </div>
</div>
<div class="footer">
    <p>
        <a href="#">关于走秀</a><em>|</em>
        <a href="#">媒体报道</a><em>|</em>
        <a href="#">品牌招商</a><em>|</em>
        <a href="#">加入走秀</a><em>|</em>
        <a href="#">友情链接</a><em>|</em>
        <a href="#">联系我们</a><em>|</em>
        <a href="#">帮助中心</a><em>|</em>
        <a href="#">网站地图</a>
    </p>
    <p>Copyright © 2008-2017 Xiu.com 版权所有 . 粤ICP备07502993号</p>
</div>
</body>
</html>